:root {
  --primary-color: black;
  --color-white: white;
  --color-soft-white: rgb(245, 241, 241);
  --color-black: black;
  --color-gray: gray;
  --color-yellow: rgb(221, 188, 80);
  --color-green: rgb(52, 143, 52);
  --color-red: rgb(202, 42, 42);
  --background-color-white: var(--color-white);
  --background-color-soft-white: var(--color-soft-white);
  --background-color-black: var(--color-black);
  --background-color-yellow: var(--color-yellow);
  --background-color-green: var(--color-green);
  --background-color-red: var(--color-red);
  --text-white: var(--color-white);
  --border-color: var(--color-gray);
}

body {
  display: flex;
}

#root {
  display: flex;
  align-self: stretch;
  flex: 1;
}

.cspm {
  display: flex;
  flex-direction: column;
  flex: 1;
  .top-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .secrets-button {
      background-color: var(--background-color-black);
      color: var(--text-white);
    }
    .secrets-dialog {
      .secrets-dialog-buttons {
        display: flex;
        padding-top: 2rem;
        gap: 1rem;
        button {
          background-color: var(--background-color-black);
          color: var(--color-white);
        }
      }
    }
    .refresh-button {
      font-size: xx-small;
      background-color: var(--background-color-white);
    }
    padding: 0.5rem;
    border-bottom: 1px solid var(--border-color);
  }
  .title {
    text-align: center;
  }
  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2rem;
    .card-title {
      padding: 1rem;
    }
    .card-value {
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      p {
        font-size: xx-large;
      }
      img {
        width: 25%;
      }
    }
    .card-1 {
      width: 25%;
      background-color: var(--background-color-yellow);
      border-radius: 1rem;
    }
    .card-2 {
      width: 25%;
      background-color: var(--background-color-green);
      border-radius: 1rem;
    }
    .card-3 {
      width: 25%;
      background-color: var(--background-color-red);
      border-radius: 1rem;
    }
  }
  .resources {
    display: flex;
    flex-direction: column;
    .resources-title {
      padding-left: 3rem;
      padding-top: 5rem;
      font-weight: 700;
      font-size: larger;
    }
    .resources-filter {
      select {
        background-color: var(--background-color-white);
        padding: 0.5rem;
        border-radius: 0.5rem;
      }
      option {
        background-color: var(--background-color-white);
      }
      padding-right: 3rem;
      align-self: flex-end;
    }
    .resources-table {
      margin: 1rem;
      .resources-table-elem {
        table-layout: fixed;
        width: 99%;
        margin: 10px auto;
        border-collapse: collapse;
        border-top: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
        text-align: center;
        th, td {
          vertical-align: top;
          padding: 0.3em;
        }
        tbody tr:nth-child(odd) {
          background-color: var(--background-color-soft-white);
        }
      }
      .resources-table-header {
      }
    }
  }
}
